@{
    ViewBag.Title = "Chọn danh sách các nhóm không tổ chức thi";
}

<h2>@ViewBag.Title</h2>
<table id="table">
    <thead>
        <tr>
            <th>MSMH</th>
            <th>Tên Môn Học</th>
            <th>Bộ Môn</th>
            <th>Khoa</th>
            <th>Nhóm</th>
            <th>SL SV</th>
            <th>Chọn</th>
           @* <th></th>*@
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    <p></p>
    <br />
    <button id="SummitButton" type="button">Lưu</button>

@Html.Partial("_DataTable.Lib")

<script src="@Url.Content("~/Scripts/UI/jquery.mousewheel.js")" type="text/javascript" lang="javascript" ></script>
<script type="text/javascript" charset="utf-8">
    var oTable;
    oTable = $('#table').dataTable({
        "bServerSide": true,
        "sAjaxSource": "/Services/DataTable_IgnoreSubjects",
        "bProcessing": true,
        "bFilter": false,
        "fnServerData": function (sSource, aoData, fnCallback) {
            $.ajax( {
                "dataType": 'json', 
                "type": "POST", 
                "url": sSource, 
                "data": aoData, 
                "success": fnCallback
            } );
        },
	    "aoColumnDefs": [
            {
                "bSortable": false, "aTargets": [0],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    var b = $('<span id="SubjectID" >' + sData + '</span>');
                    $(nTd).empty();
                    $(nTd).prepend(b);
                }
            },
            {
                "bSortable": true, "aTargets": [1]
            },
            {
                "bSortable": false, "aTargets": [2]
            },
                
            {
                "bSortable": false, "aTargets": [3]
            },
            {
                "bSortable": false, "aTargets": [4],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    var b = $('<span id="Class">' + sData + '</span>');
                    $(nTd).empty();
                    $(nTd).prepend(b);
                }
            },
            {
                "bSortable": false, "aTargets": [5]
            },
            {
                "bSortable": false, "aTargets": [6],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    var b = $('<input id="Check" type="checkbox" ' + sData + '/>');
                    $(nTd).empty();
                    $(nTd).prepend(b).attr('align', 'center');
                }
            },
	    ], // không hiện nút sắp xếp!
        
	    @Html.Partial("_DataTable")
    });

    oTable.fnSettings().aoServerParams.push({
        "sName": "user",
        "fn": function (aoData) {
                oTable.$("#SubjectID").each(function (index, item) {
                    aoData.push({
                        "name": "SubjectID",
                        "value": $(this).text()
                    });
                });
                oTable.$("#Class").each(function (index, item) {
                    aoData.push({
                        "name": "Class",
                        "value": $(this).text()
                    });
                });
                oTable.$("#Check").each(function (index, item) {
                    aoData.push({
                        "name": "Check",
                        "value": $(this).attr('checked')
                    });
                });
                
        }
    });

    new FixedHeader(oTable);

	$('#SummitButton').button().click(function () {
	    var sData = "";
	    oTable.$("#SubjectID").each(function (index, item) {
	        sData += (sData == '' ? '' : '&') + 'SubjectID=' + $(this).text();
	    });
	    oTable.$("#Class").each(function (index, item) {
	        sData += '&Class=' + $(this).text();
	    });
	    oTable.$("#Check").each(function (index, item) {
	        sData += '&Check=' + $(this).attr('checked');
	    });
	    $.post("/SelectSubject/IgnoreSuccess", sData);
	    alert("Đã lưu xong");
	    return false; 
	});
</script>