USE [master]
GO
/****** Object:  Database [Provider]    Script Date: 22/12/2012 2:31:08 SA ******/
CREATE DATABASE [Provider]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Provider', FILENAME = N'C:\Users\Hoan Chan\Provider.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Provider_log', FILENAME = N'C:\Users\Hoan Chan\Provider_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Provider].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Provider]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22/12/2012 2:31:08 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [nvarchar](50) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 22/12/2012 2:31:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [nvarchar](50) NOT NULL,
	[Pass] [nvarchar](500) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Question] [nvarchar](500) NULL,
	[Answer] [nvarchar](500) NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersRoles]    Script Date: 22/12/2012 2:31:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersRoles](
	[User] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[User] ASC,
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Role] ([ID], [Detail]) VALUES (N'Admin', N'Quản trị')
INSERT [dbo].[Role] ([ID], [Detail]) VALUES (N'GiaoVien', N'Giáo viên')
INSERT [dbo].[Role] ([ID], [Detail]) VALUES (N'SinhVien', N'Sinh viên')
INSERT [dbo].[User] ([ID], [Pass], [Name], [Email], [Question], [Answer], [LastLogin]) VALUES (N'HoanChan', N'7ea3863f9d51f2890663a8c2533eeb2b', N'HoanChan', N'Le.Hoan.Chan@gmail.com', N'Question', N'Answer', CAST(0x0000A12F002893BB AS DateTime))
INSERT [dbo].[UsersRoles] ([User], [Role], [Detail]) VALUES (N'HoanChan', N'Admin', NULL)
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_Role]
GO
ALTER TABLE [dbo].[UsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsersRoles_User] FOREIGN KEY([User])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[UsersRoles] CHECK CONSTRAINT [FK_UsersRoles_User]
GO
USE [master]
GO
