
body {
    background-attachment: fixed;
    font-size: .85em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: black;
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table>tbody>tr>td, table>thead>tr>th {
    border: solid 1px black;
}