@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<style >
    .Progress {
      text-align:center;
      border: 1px solid rgb(0,0,0);
      border-radius: 5px;
      margin: 2px;
      padding: 5px;
      width: 182px;
      height: 300px;              
      float: left;
    }

    .ProgressHolder{
      overflow: auto;
      width: 100%;
    }

</style>
@Html.Partial("_Jquery-UI.Lib")
<div class='ProgressHolder'>
    <div class='Progress'>
        <button id="RunCreateAdjacencyMatrix">1. Tạo ma trận kề</button>
        <br />
        <span id="CreateMatrixInfo">Thông tin</span>
        <br />
        <div id="pbCreateMatrix"></div>
    </div>
    <div class='Progress'>
        <button id="RunColoring">2. Tô màu</button>
    </div>
    <div class='Progress'>
        <button id="RunMakeTime">3. Giãn thời gian</button>
    </div>
    <div class='Progress'>
        <button id="RunRoomArrangement">4. Xếp phòng</button>
    </div>
    <div class='Progress'>
        <button id="RunSaveToDatabase">5. Lưu kết quả</button>
    </div>
</div>
<script>
    var pbCreateMatrix = $("#pbCreateMatrix").progressbar({
        value: 0
    });
    var CreateMatrixInfo = $("#CreateMatrixInfo");
    setInterval(function () {
        $.getJSON("/Services/GetProgressInfo",
            function (Data) {
                pbCreateMatrix.progressbar({ value: Data[0].pbCreateMatrix });
                CreateMatrixInfo.html(Data[0].CreateMatrixInfo);
            });
    }, 1000);
    $("#RunCreateAdjacencyMatrix").button().click(function () {
        $.post("/Progress/Run", "StepNumber=1");
    });
    $("#RunColoring").button().click(function () {
        $.post("/Progress/Run", "StepNumber=2");
    });
    $("#RunMakeTime").button().click(function () {
        $.post("/Progress/Run", "StepNumber=3");
    });
    $("#RunRoomArrangement").button().click(function () {
        $.post("/Progress/Run", "StepNumber=4");
    });
    $("#RunSaveToDatabase").button().click(function () {
        $.post("/Progress/Run", "StepNumber=5");
    });
</script>