
@{
    ViewBag.Title = "Lập danh sách sinh viên cấm thi";
}
<h2>@ViewBag.Title</h2>
<form id="InputForm">
    <p>
        Mã số môn học:
        <input type="text" id ="SubjectIDTextBox" /> 
        Mã số sinh viên:
        <input type="text" id ="StudentIDTextBox" /> 
        <input type="button" id ="AddStudent" value="Thêm"/>
    </p>
</form>
<form>
<table id="table">
    <thead>
        <tr>
            <th>MSMH</th>
            <th>Tên MH</th>
            <th>Bộ Môn</th>
            <th>MSSV</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Lớp</th>
            <th>Khoa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
    <p></p>
    <br />
    <button id="SummitButton" type="button">Lưu</button>
</form>

@Html.Partial("_DataTable.Lib")

<script type="text/javascript" charset="utf-8">
    var oTable;
	$(document).ready(function() {
	    oTable = $('#table').dataTable({
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [8] },
            ], // không hiện nút sắp xếp!
	        @Html.Partial("_DataTable")
	    });

	    $('#AddStudent').button().click(function (e) {
	        e.preventDefault(); // không chạy sự kiện mặc định của đối tượng
	        var stID = $('#StudentIDTextBox').val();
	        var suID = $('#SubjectIDTextBox').val();
	        if ($('#table tbody td button#Deletebtn[value="' + stID + suID + '"]').length !== 0) {
	            alert("Dữ liệu sinh viên có mã số " + stID + " và bị cấm thi môn học có mã số " + suID + " đã được thêm rồi!");
	            return false;
	        }
	        $.getJSON("/Services/LoadStudentAndSubjectInfo", { StudentID: stID, SubjectID: suID },
                function (Data) {
                    if (Data[0].MSSV == "false") {
                        alert("Không tìm thấy sinh viên có mã số: " + stID);
                        return false;
                    }

                    if (Data[0].MSMH == "false") {
                        alert("Không tìm thấy môn học có mã số: " + suID);
                        return false;
                    }
                    
                    if (Data[0].OK == "false") {
                        alert("Sinh viên " + Data[0].Ho + " " + Data[0].Ten + " không đăng ký học môn " + Data[0].TenMH);
                        return false;
                    }

                    var MSMH = '<p id="SubjectID">' + suID + '</p>';
                    var MSSV = '<p id="StudentID">' + stID + '</p>';
                    var Delete = '<button id ="Deletebtn" value="' + stID + suID + '">Xoá</button>';

                    oTable.fnAddData([MSMH, Data[0].TenMH, Data[0].BoMon, MSSV, Data[0].Ho, Data[0].Ten, Data[0].Lop, Data[0].Khoa, Delete]);

                    $('#table tbody td button#Deletebtn[value="' + stID + suID + '"]').button({
                        icons: {
                            primary: "ui-icon-trash" // hình cái thùng rác
                        }
                    }).live('click', function () {
                        var row = $(this).parent().parent(); // this là cái nút, cha của nó là td ông của nó là tr ==> cái hàng cần xoá
                        if (row.length !== 0) {
                            oTable.fnDeleteRow(row[0]);
                        }
                    }).parent().attr('align', 'center');
            });
	    });

	    $('#SummitButton').button().click(function () {
	        var sData = "";
	        oTable.$("#StudentID").each(function (index, item) {
	            sData = sData + (sData == '' ? '' : '&') + 'StudentID=' + $(this).text();
	        });
	        oTable.$("#SubjectID").each(function (index, item) {
	            sData = sData + '&SubjectID=' + $(this).text();
	        });
	        $.post("/SelectStudent/SelectSuccess", sData);
	        alert("Đã lưu xong");
	        return false; 
	    });
	} );
</script>